
/**
 * 手机端
 */
@media screen and (max-width: 800px) {
.ml-r-10{
		width: 90%;
		margin-left: 5%;
		margin-top: 70px;
	}
.ml-r-30{
		width: 90%;
		margin-left: 5%;
		margin-top: 70px;
	}
}
/**
 * 电脑端
 */
@media screen and (min-width: 800px) {
.ml-r-10{
		width: 70%;
		margin-left: 15%;
		margin-top: 60px;
	}
.ml-r-30{
		width: 60%;
		margin-left: 30%;
		margin-top: 60px;
	}
}



